@page
@model To_Do_and_Notes.Pages.BinModel
@{
    Layout = "_Layout";
}

<!-- Content -->
<div class="container">
    <!-- Default data view -->
    <div class="row">
        <div class="col-lg-6 d-lg-block d-none mt-2 border-end">
            <div class="card-group scrollable">
                <div class="row row-cols-1 ms-0 me-2 w-100" style="height: fit-content;">
                    <div class="card p-1 mt-2">
                        <div class="container-fluid">
                            <div class="row">
                                <input class="form-check-input fs-2 col-1" type="checkbox" name="isCompletedTask">
                                <div class="col-10">
                                    <h5 class="card-title mt-1" data-bs-toggle="modal" data-bs-target="#taskEditModal">
                                        task.Title
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                    </p>
                                </div>
                                <div class="col-1 row align-items-center">
                                    <a href="" class="link-success"><i class="bi bi-arrow-up-circle fs-4 me-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-lg-block d-none mt-2">
            <div class="card-group scrollable">
                <div class="row row-cols-1 row-cols-2 g-2 mt-0 me-1" style="height: fit-content;">
                    <div class="col">
                        <div class="card">
                            <img src="https://picsum.photos/id/1/200/300" class="card-img-top" alt="..."
                                 style="width: 100%; height: 8em; object-fit: cover;">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-9" data-bs-toggle="modal" data-bs-target="#noteEditModal">
                                        Card title
                                    </h5>
                                    <a href="" class="col-3 link-success">
                                        <i class="bi bi-arrow-up-circle fs-4"></i>
                                    </a>
                                </div>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile data view -->
    <div class="row mobileDataHide d-lg-none scrollable">
        <div class="col-12">
            <div class="card-group">
                <div class="row row-cols-1 ms-0 me-2 w-100" style="height: fit-content;">
                    <div class="card p-1 mt-2">
                        <div class="container-fluid">
                            <div class="row">
                                <input class="form-check-input fs-2 col-1" type="checkbox" name="isCompletedTask">
                                <div class="col-10">
                                    <h5 class="card-title mt-1" data-bs-toggle="modal" data-bs-target="#taskEditModal">
                                        task.Title
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                    </p>
                                </div>
                                <div class="col-1 row align-items-center">
                                    <a href="" class="link-success">
                                        <i class="bi bi-arrow-up-circle fs-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="row row-cols-1 row-cols-2 g-2 mt-0 me-1" style="height: fit-content;">
                    <div class="col">
                        <div class="card">
                            <img src="https://picsum.photos/id/1/200/300" class="card-img-top" alt="..."
                                 style="width: 100%; height: 8em; object-fit: cover;">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-9" data-bs-toggle="modal" data-bs-target="#noteEditModal">
                                        Card title
                                    </h5>
                                    <a href="" class="col-3 link-success"><i class="bi bi-arrow-up-circle fs-4"></i></a>
                                </div>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                             