@page
@using To_Do_and_Notes.Models;
@using Microsoft.AspNetCore.Components.Web;
@model To_Do_and_Notes.Pages.MainModel
@{
    Layout = "_Layout";
}

@section ButtonList
    {
    <div class="d-flex justify-content-start ps-2 pt-2">
        <button id="sidebarCollapse" class="btn btn-secondary align-self-baseline">
            <i class="bi bi-backspace"></i>
        </button>
        <div class="container mobileDataHide">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#newTaskModal">
                        +
                        Задача
                    </button>
                    <input class="form-check-input fs-2" type="checkbox" id="tasksCheckbox" value="option2" checked>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#newNoteModal">
                        +
                        Нотатка
                    </button>
                    <input class="form-check-input fs-2" type="checkbox" id="notesCheckbox" value="option2" checked>
                </div>
            </div>
        </div>
    </div>
}
@section Styles
    {
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
}
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="~/js/summernote.js"></script>

    <script>

    </script>
}
@section NewFolder
    {
    <div class="ps-2 border-top border-bottom">
        <div class="btn btn-toggle d-inline-flex fs-4 w-100">
            <form method="post" asp-page-handler="CreateFolder">
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-link invisible-button p-0"><i class="bi bi-folder-plus fs-2 me-2"></i></button>
                    <textarea asp-for="NewFolder.Name" oninput="auto_grow(this)" onfocus="auto_grow(this)" type="textarea"
                              class="card-text form-control fs-4 border-0" maxlength="25" placeholder="Нова папка" required></textarea>
                </div>

            </form>
        </div>
    </div>
}
@section FolderList
    {
    <div class="list-unstyled scrollable ps-2 pt-2" style="height: 60vh;">
        @foreach (Folder folder in Model.Folders)
        {
            if (folder == null) { continue; }
            <form method="post" asp-page-handler="SetRenameFolder" class="d-flex w-100 fs-4 align-items-center pb-0 pt-0">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-folder fs-2 me-2"></i>
                    </button>
                    <input asp-for="EditFolder.Name" class="p-0 fs-4 border-0" value="@folder.Name" />
                    <input asp-for="EditFolder.FolderId" value="@folder.FolderId" hidden />
                    <ul class="dropdown-menu">
                        <li>
                            <button type="submit" class="dropdown-item">Встановити edit folder</button>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#folderEditModal">Перейменувати</button>
                           @*<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#folderEditModal">Перейменувати</a>*@
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Видалити</a>
                        </li>
                    </ul>
                </div>
            </form>
        }
    </div>
}
<!-- Modals -->
<div class="modal fade" id="folderEditModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 mt-3">
                        <h5 class="modal-title text-center">Перейменування</h5>
                    </div>
                    <div class="col-1 mt-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити">
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form method="post" asp-page-handler="RenameFolder">
                    <div class="card p-3 ps-4">
                        <div class="row">
                            <input asp-for="EditFolder.FolderId" value="@Model?.EditFolder?.FolderId" hidden />
                            <textarea asp-for="EditFolder.Name" value="@Model?.EditFolder?.Name" oninput="auto_grow(this)" type="textarea"
                                      class="card-text form-control fs-4 mt-1" maxlength="50"
                                      required></textarea>
                            <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 mt-3">
                        <h5 class="modal-title text-center">Нова задача</h5>
                    </div>
                    <div class="col-1 mt-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити">
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="card p-3 ps-4">
                        <div class="row">
                            <div class="fs-2 col-1 mt-1">
                                <input class="form-check-input" type="checkbox" name="isCompletedNewTask">
                            </div>
                            <div class="col-11">
                                <textarea oninput="auto_grow(this)" type="textarea"
                                          class="card-text form-control fs-4 mt-1" placeholder="Назва ..." maxlength="50"
                                          required></textarea>
                                <textarea oninput="auto_grow(this)" type="textarea"
                                          class="card-text form-control fs-5 mt-1" placeholder="Опис ..."
                                          maxlength="200"></textarea>
                                <div class="row g-1">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary mt-1 w-100"
                                                data-bs-dismiss="modal">
                                            Скасувати
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newNoteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 mt-3">
                        <h5 class="modal-title text-center">Нова нотатка</h5>
                    </div>
                    <div class="col-1 mt-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити">
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="card p-1">
                        <textarea oninput="auto_grow(this)" type="textarea" class="card-text form-control fs-4 mt-1"
                                  placeholder="Назва ..." maxlength="50" required></textarea>
                        <textarea name="" id="summernoteNew" cols="30" rows="10"></textarea>

                        <div class="row g-1">
                            <div class="col">
                                <button type="button" class="btn btn-secondary mt-1 w-100"
                                        data-bs-dismiss="modal">
                                    Скасувати
                                </button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="taskEditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 mt-3">
                        <h5 class="modal-title text-center">Редагування</h5>
                    </div>
                    <div class="col-1 mt-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити">
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="card p-3 ps-4">
                        <div class="row">
                            <div class="fs-2 col-1 mt-1">
                                <input class="form-check-input" type="checkbox" name="isCompletedEditTask">
                            </div>
                            <div class="col-11">
                                <textarea oninput="auto_grow(this)" onfocus="auto_grow(this)" type="textarea"
                                          class="card-text form-control fs-4 mt-1" maxlength="50"
                                          required>task.Title</textarea>
                                <textarea oninput="auto_grow(this)" onfocus="auto_grow(this)" type="textarea"
                                          class="card-text form-control fs-5 mt-1"
                                          maxlength="200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, deserunt cum in itaque totam eaque laboriosam nisi enim rerum, soluta culpa labore deleniti consectetur obcaecati saepe quaerat molestiae praesentium eum?</textarea>
                                <div class="row g-1">
                                    <div class="col">
                                        <button type="button" class="btn btn-secondary mt-1 w-100"
                                                data-bs-dismiss="modal">
                                            Скасувати
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="noteEditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-11 mt-3">
                        <h5 class="modal-title text-center">Редагування</h5>
                    </div>
                    <div class="col-1 mt-2">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити">
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <form method="post">
                    <div class="card p-1">
                        <textarea oninput="auto_grow(this)" onfocus="auto_grow(this)" type="textarea"
                                  class="card-text form-control fs-4 mt-1" maxlength="50" required>note.Title</textarea>

                        <textarea name="" id="summernoteEdit" cols="30" rows="10"></textarea>

                        <div class="row g-1">
                            <div class="col">
                                <button type="button" class="btn btn-secondary mt-1 w-100"
                                        data-bs-dismiss="modal">
                                    Скасувати
                                </button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container">
    <!-- Default data view -->
    <div class="row">
        <div class="col-lg-6 d-lg-block d-none mt-2 border-end">
            <div class="card-group scrollable">
                <div class="row row-cols-1 ms-0 me-2 w-100" style="height: fit-content;">
                    <div class="card p-1 mt-2">
                        <div class="container-fluid">
                            <div class="row">
                                <input class="form-check-input fs-2 col-1" type="checkbox" name="isCompletedTask">
                                <div class="col-10">
                                    <h5 class="card-title mt-1" data-bs-toggle="modal" data-bs-target="#taskEditModal">
                                        task.Title
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                    </p>
                                </div>
                                <div class="col-1 row align-items-center">
                                    <a href="" class="link-danger"><i class="bi bi-trash3 fs-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-lg-block d-none mt-2">
            <div class="card-group scrollable">
                <div class="row row-cols-1 row-cols-2 g-2 mt-0 me-1" style="height: fit-content;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-9" data-bs-toggle="modal" data-bs-target="#noteEditModal">
                                        Card title
                                    </h5>
                                    <a href="" class="col-3 link-danger"><i class="bi bi-trash3 fs-4"></i></a>
                                </div>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile data view -->
    <div class="row mobileDataHide">
        <div class="col-12 d-lg-none scrollable">
            <div class="card-group">
                <div class="row row-cols-1 ms-0 me-2 w-100" style="height: fit-content;">
                    <div class="card p-1 mt-2">
                        <div class="container-fluid">
                            <div class="row">
                                <input class="form-check-input fs-2 col-1" type="checkbox" name="isCompletedTask">
                                <div class="col-10">
                                    <h5 class="card-title mt-1" data-bs-toggle="modal" data-bs-target="#taskEditModal">
                                        task.Title
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur
                                    </p>
                                </div>
                                <div class="col-1 row align-items-center">
                                    <a href="" class="link-danger"><i class="bi bi-trash3 fs-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="row row-cols-1 row-cols-2 g-2 mt-0 me-1" style="height: fit-content;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-9" data-bs-toggle="modal" data-bs-target="#noteEditModal">
                                        Card title
                                    </h5>
                                    <a href="" class="col-3 link-danger"><i class="bi bi-trash3 fs-4"></i></a>
                                </div>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{

}
