@page
@model To_Do_and_Notes.Pages.PersonInfoModel
@{
    Layout = "_Layout";
}

@section Styles
{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
}
@section Scripts 
{
    <script src="~/js/validation.js"></script>
}

<!-- Content -->
<div class="mobileDataHide">
    <h4 class="text-center pt-3">
        Персональна інформація
    </h4>
    <div class="container">
        <form class="needs-validation" novalidate>
            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="name" placeholder="Somename" required minlength="1"
                       maxlength="30" pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ']+([ A-Za-zА-Яа-яІіЇїЄєҐґ']+)*" value="Serhii">
                <label for="name">Ім'я</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Вкажіть ім'я з 1-30 символів
                </div>
            </div>
            <div class="form-floating mt-2">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required
                       pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|
                     \\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|
                     \[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:
                     (?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                       value="name@example.com">
                <label for="email">Пошта</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Пошта некоректна (name@example.com)
                </div>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="pwd" placeholder="*******" required minlength="8"
                       maxlength="25" value="testpass123456">
                <label for="pwd">Пароль</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Пароль некоректний (повинен містити 8-25 символів)
                </div>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="pwd2" placeholder="*******" required minlength="8"
                       maxlength="25" value="testpass123456">
                <label for="pwd2">Повторіть пароль</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback" id="pwd2InvalidFeedback">
                    Пароль некоректний (повинен містити 8-25 символів)
                </div>
            </div>
            <div class="row g-1">
                <div class="col">
                    <button type="button" class="btn btn-secondary mt-1 w-100"
                            data-bs-dismiss="modal">
                        Скасувати
                    </button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-1 w-100">Ок</button>
                </div>
            </div>
        </form>
    </div>
</div>


                             