@page
@model To_Do_and_Notes.Pages.SignUpModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To_Do_and_Notes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <style>
        .container {
            max-width: 30em;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #ccc;
        }
    </style>
</head>

<body>
    <div class="d-flex justify-content-center mt-5">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none fs-1">
            <i class="bi bi-journal-check me-2"></i>
            <span class="fs-3 fw-semibold">To do & Notes</span>
        </a>
    </div>
    <div class="container mt-5 p-3">
        <h4 class="text-center">
            Реєстрація
        </h4>

        <form method="post" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-3">
                <input asp-for="NewUser.Name" type="text" class="form-control" id="name" placeholder="Somename" required minlength="1"
                       maxlength="30" pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ']+([ A-Za-zА-Яа-яІіЇїЄєҐґ']+)*">
                <label for="name">Ім'я</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Вкажіть ім'я з 1-30 символів
                </div>
                <span asp-validation-for="NewUser.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="NewUser.Email" type="email" class="form-control" id="email" placeholder="name@example.com" required pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|
            \\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|
            \[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:
            (?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
                <label for="email">Пошта</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Пошта некоректна (name@example.com)
                </div>
                <span asp-validation-for="NewUser.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="NewUser.Password" type="password" class="form-control" id="pwd" placeholder="*******" required minlength="8"
                       maxlength="25">
                <label for="pwd">Пароль</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback">
                    Пароль некоректний (повинен містити 8-25 символів)
                </div>
                <span asp-validation-for="NewUser.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="pwd2" placeholder="*******" required minlength="8"
                       maxlength="25">
                <label for="pwd2">Повторіть пароль</label>
                <div class="valid-feedback">
                    Виглядає добре!
                </div>
                <div class="invalid-feedback" id="pwd2InvalidFeedback">
                    Пароль некоректний (повинен містити 8-25 символів)
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">Зареєструватися</button>
            <p class="text-center mt-1">Вже є обліковий запис? <a href="SignIn">Увійти</a></p>
            <a href="" class="link-dark text-decoration-none">
                <i class="bi bi-google fs-1 d-flex justify-content-center"></i>
            </a>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/validation.js"></script>
</body>

</html>