<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To_do_and_Notes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/To_do_and_Notes.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 border-end">
                <div class="flex-shrink-0 p-3 bg-white">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-1">
                        <i class="bi bi-journal-check me-2"></i>
                        <span class="fs-3 fw-semibold">To do & Notes</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                                English
                            </button>
                            <div class="collapse fs-5 ms-3" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                Sport
                            </button>
                            <div class="collapse fs-5 ms-3" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                .NET Core
                            </button>
                            <div class="collapse fs-5 ms-3" id="orders-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                                Профіль
                            </button>
                            <div class="collapse show fs-5 ms-3" id="account-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Персональні дані</a></li>
                                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Вийти</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid px-5 py-3 text-light bg-dark fixed-bottom">
            <div class="row">
                <div class="col-md-6" style="font-size: 1.1em;">
                    <p>&copy; 2023 To do & Notes. All rights reserved.</p>
                </div>
                <div class="col-md-6" style="margin-left: -15px; margin-right: -15px;">
                    <ul class="list-inline float-md-end fs-4">
                        <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li class="list-inline-item"><i class="bi bi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"> <i class="bi bi-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>